.address{
	width: 100%;
	height: 100vh;
	background-color: #f0f0f0;
}
.item{
	width: 100%;
	height: 160upx;
	// background-color: #fff;
	display: flex;
	position: relative;
	padding-top: 20upx;
	padding-bottom: 20upx;
	.pos{
		width: 60upx;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		image{
			width: 40upx;
			height: 40upx;
			margin-top: 10upx;
		}
	}
	.left{
		width: 30%;
		height: 100%;
		image{
			width: 90upx;
			height: 90upx;
			border-radius: 50%;
		}
	}
	.right{
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.title{
			display: flex;
			font-weight: 550;
			display: flex;
			align-items: center;
			.name{
				
			}
			.phone{
				margin-left: 20upx;
			}
			.moren{
				color: #02AE71;
				border: 1upx solid #02AE71;
				width: 70upx;
				font-size: 28upx;
				height: 30upx;
				margin-left: 20upx;
				padding-top: 10upx;
				padding-bottom: 10upx;
				border-radius: 10upx;
			}
		}
		.detail{
			color: #999;
			margin-top: 5upx;
			width: 88%;
			font-size: 28upx;
			 display: -webkit-box;
			  -webkit-box-orient: vertical;
			  -webkit-line-clamp: 2; /* 限制最大行数 */
			  overflow: hidden; /* 溢出部分隐藏 */
			  text-overflow: ellipsis; /* 多余部分显示省略号 */
		}
	}
}
.color{
	background-color: #FFF;
}

.add{
	width: 110upx;
	height: 110upx;
	background-color: #4bc93e;
	color: #FFF;
	font-size: 28upx;
	position: fixed;
	top: 55%;
	right: 10upx;
	border-radius: 50%;
	.f{
		width: 70upx;
		height: 70upx;
		text-align: center;
	}
}

	