.investDetail{
	padding-bottom: 30upx;
	.top{
		image{
			width: 100%;
			height: 420upx;
		}
	}
	.three{
		margin: 30upx auto;
		margin-bottom: 60upx;
		width: 85%;
		height: 90upx;
		display: flex;
		.item{
			flex: 1;
			height: 100%;
			color: #ccc;
			.title{
				
			}
			.de{
			  text{
				  color: red;
			  }	
			}
		}
	}
	.li{
		width: 100%;
		height: 90upx;
		display: flex;
		align-items: center;
		padding-left: 20upx;
		box-sizing: border-box;
		font-weight: 520;
		border-bottom: 1upx solid #dfdfdf;
		color: #9c9c9c;
	}
	.two{
		width: 100%;
		height: 400upx;
		margin-top: 30upx;
	}
	.btn{
		margin: 30upx auto ;
		color: #fff;
		background-image: linear-gradient(to right, rgba(85, 255, 0, 0.0), rgba(170, 255, 127, 1.0));
		background-color: #54d27e;
		width: 90%;
		height: 90upx;
	}
}
