.property
  width 100%
  height 100%
  background #F7F7F7
  overflow-y scroll
.totality-box
  height 128px
  display flex
  flex-direction column
  background-size 100% 100%
.qd-box .totality-box
  background-image url("../../../assets/images/my-qd.png")
.qb-box .totality-box
  background-image url("../../../assets/images/my-qb.png")
.fh-box .totality-box
  background-image url("../../../assets/images/jqfh.png")
.title
  height 50px
  display flex
  align-items center
  padding-left 15px
  border-bottom 1px solid rgba(255,255,255,.4);
  color #ffffff
  font-size 14px
  flex-shrink 0
.totality
  flex 1
  display flex
  align-items center
  padding-left 15px
  color #ffffff
  font-size 24px
  font-weight bold
.item
  height 80px
  background #ffffff
  margin-top 8px
  display flex
  justify-content center
  padding-left 15px
  flex-direction column
.item-title
  font-size 12px
.item-num
  margin-top 12px
  font-size 10px
.item-num span
  font-size 14px
  font-weight bold






