.treaty{
    padding: 5px
    height:100vh;
}
.treaty .text{
    overflow: scroll;
     padding: 10px;
     height:600px;
     line-height: 1.4;
     
}
.treaty .text h1{
        font-size: 16px;
    font-weight: 700;
    text-align: center;
      padding:8px 0;
}
.treaty h4,
.treaty p{
padding:4px 0;
}