// .shopDetail{
// 	background-color: #f3f3f3;
// 	width: 100%;
// 	height: 100vh;
// 	image{
// 		width: 100%;
// 		height: 500upx;
// 	}
// 	.biaoti{
// 		width: 100%;
// 		height: 70upx;
// 		display: flex;
// 		box-sizing: border-box;
// 		align-items: center;
// 		padding-left: 20upx;
// 		margin-top: 20upx;
// 		.left{
// 			width: 140upx;
// 			padding-top: 10upx;
// 			padding-bottom: 10upx;
// 			color: #fff;
// 			background-color: red;
// 			border-radius: 10upx;
// 			margin-right: 20upx;
			
// 		}
// 		text{
// 			font-weight: 600;
// 		}
// 	}
// 	.tishi{
// 		color: red;
// 		font-size: 28upx;
// 		padding-left: 20upx;
// 	}
// 	.buy{
// 		width: 520upx;
// 		height: 70upx;
// 		margin: 30upx auto;
// 		background-color: #e6e6e6;
		
// 		font-weight: 600;
// 	}
	
// 	.de{
// 		width: 100%;
// 		margin-top: 20upx;
// 		height: 120upx;
// 		background-color: #fff;
// 		display: flex;
// 		align-items: center;
// 		box-sizing: border-box;
// 		padding-left: 20upx;
// 	}
// 	.btn{
// 		width: 520upx;
// 		height: 70upx;
// 		margin: 30upx auto;
// 		background-image: linear-gradient(to right, rgba(85, 255, 0, 0.0), rgba(170, 255, 127, 1.0));
// 		background-color: #54d27e;
// 		font-weight: 600;
// 		color: #fff;
// 	}
// }

.shopDetail{
	background-color: #f7f8fa;	
}
.shopInfo{
	width: 718upx;
	// height: 234upx;
	background-color: #fff;
	margin: 30upx auto;
	border-radius: 16rpx;
	box-sizing: border-box;
	.frist{
		display: flex;
		padding-left: 20upx;
		width: 100%;
		height: 67rpx;
		font-size: 48rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #FF5A00;
		line-height: 67rpx;
		
	}
	.detail{
		font-family: PingFangSC-Medium, PingFang SC;
		margin-top: 20upx;color: #505050;
		font-weight: 600;
		padding-left: 20upx;
	}
	
	.lvse{
		width: 116rpx;
		height: 48rpx;
		background: #E2FFF5;
		border-radius: 4rpx;
		margin-left: 20upx;
		margin-top: 30upx;
		.zi{
			
		    width: 110upx;
			height: 44upx;
			font-size: 20rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #02AE71;
			
		}
	}
}
.duihuan{
	width: 718upx;
	// height: 712upx;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 16rpx;
	
	.btn{
		width: 686upx;
		height: 90upx;
		margin: 30upx auto;
		color: #fff;
		background-color: #FF791C ;
		border-radius: 40upx;
		.font{
			width: 116rpx;
			height: 40rpx;
			font-size: 28rpx;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #FFFFFF;
			line-height: 40rpx;
		}
	}
}
.title{
	padding-top: 30upx;
	width: 684upx;
	margin: 0 auto;
	height: 54rpx;
	display: flex;
	align-items: center;
	.shu{
		background-color: #07c07e;
		width: 12upx;
		height: 80%;
		margin-right: 20upx;
	}
}