.top{
	width: 100%;
	height: 400upx;
	background-color: #54d27e;
	// background-repeat: no-repeat;
	// background-size: 100% 100%;
	// background-image: url('https://bpic.51yuansu.com/backgd/cover/00/30/07/5bc4aaaaedc5d.jpg?x-oss-process=image/resize,w_780');
	.shang{
		width: 90%;
		margin: 0upx auto;
		height: 200upx;
		padding-top: 10upx;
		display: flex;
		.left{
			width: 30%;
			height: 100%;
			
			image{
				width: 90%;
				height: 90%;
				border-radius: 50%;
			}
		}
		.center{
			width: 40%;
			height: 100%;
			color: #fff;
			.one{
				margin-top: 20px;
				margin-bottom: 10px;
				padding-left: 10upx;
			}
			.two{
				padding-left: 10upx;
			}
		}
		.right{
			width: 30%;
			height: 100%;
			display: flex;
			justify-content: right;
			align-items: center;
			image{
				width: 90upx;
				height: 90upx;
				margin-right: 20upx;
			}
		}
	}
	.xia{
		width: 90%;
		margin: 0upx auto;
		height: 180upx;
		padding-top: 10upx;
		display: flex;

		.item{
			height: 100%;
			flex: 1;
			.tit{
				color: #fff;
			}
			.de{
				color: #fff;
			}
		}
	}
}
.box{
	width: 95%;
	margin: 30upx auto;
	background-color: #fff;
	.title{
		width: 100%;
		height: 40upx;
		display: flex;
		border-bottom:1upx solid #ccc;
		align-items: center;
		font-size: 28upx;
		font-weight: 600;
		padding-bottom: 5upx;
		padding-top: 5upx;
		.shu{
			width: 8upx;
			height: 85%;
			margin-right: 10upx;
			background-color: #498cdb;
			
		}
	}
	.msg{
		width: 100%;
		padding-bottom: 20upx;
		padding-top: 10upx;
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		.item{
			height: 160upx;
			width: 150upx;
			font-size: 28upx;
			margin-left: 20upx;
			image{
				width: 70upx;
				height: 70upx;
				margin-bottom: 10upx;
			}
		}
	}
}
.content{
	height: 100%;
	width: 100%;
	background-color: #f6f7f9;
}
.warp {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
.rect {
		width: 460upx;
		height: 460upx;
		background-color: #fff;
		position: relative;
		image{
			width: 460upx;
			height: 460upx;
		}
	}