.shop-box
  height 100%
  width 100%
  overflow-y scroll

.shop-list
  display flex
  align-items center
  flex-wrap wrap
  margin-top 10px
  padding-right 10px
.shop-item
  margin-left calc((100% - 173px * 2) / 2)
  margin-bottom 10px
  width 173px
  height 248px
  color #ffffff
  background-size 100% 100%
.text
  margin-top 30px
  margin-left 30px
  font-size 12px
.hr
  width 20px
  height 1px
  background #ffffff
  margin-top 8px
  margin-left 30px
.shop-title
  font-size 20px
  font-weight bold
  margin-left 30px
  margin-top 15px
.offline
  background-image url('../../assets/images/offline.png')










